name: Linting

on: 
  push:
    branches-ignore: [master]
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    name: Luacheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install linter
        run: |
          sudo apt-get update
          sudo apt-get install luarocks
          sudo luarocks install luacheck
      - name: Lint
        run: make lint
